@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body{
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans", serif-sans;
    scroll-behavior: smooth;

}

#container {
    display: flex;
    flex-direction: row;
    justify-content: 30px;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #EB6440, #497174, #D6E4E5);
  }

#cards, #queue{

    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: space-between;
    height: 100vh;

}


.card {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 350px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    font-size: 30px;
    
    text-align:center;
    justify-content: center;   
       
   }

   #queue {
    position:absolute;
    top:0px;
    left: 470px;
    padding: 0%;
    height: 254px; 
    margin-bottom: 40px;   
    
   }


/* CHANGE THIS CODE, I can't really code
well in css so style the logic buttons better pls 
-Jason */
#logic-buttons {
    position: absolute;
    top: 200px;
    right: 200px;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
   
}

input[type = "radio"] {
    display:block;

}

#server-button {
   margin-left: 0%;
    
}

button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  button:active { 
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

  #ipbans{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    

  }

  .rightside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
