body{
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans", serif-sans;
    scroll-behavior: smooth;

}

#container {
    display: flex;
    flex-direction: row;
    justify-content: 30px;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #EB6440, #497174, #D6E4E5);
  }

#cards, #queue{

    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: space-between;
    height: 100vh;

}


.card {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 350px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    font-size: 30px;
    
    text-align:center;
    justify-content: center;   
       
   }

   #queue {
    position:absolute;
    top:0px;
    left: 470px;
    padding: 0%;
    height: 254px; 
    margin-bottom: 40px;   
    
   }


/* CHANGE THIS CODE, I can't really code
well in css so style the logic buttons better pls 
-Jason */
#logic-buttons {
    position:absolute;
    right: 200px;
}

input[type = "radio"] {
    display:block;

}

#server-button {
    right:100px;
    bottom:300px;
}

button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  button:active { 
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

  #ipbans{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    

  }